<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "sysdecom.com"
    versionCode = "1"
	version 	= "1.0.0">

	<name>Hi</name>

	<description>
		Hola mundo!!!
	</description>

	<author href="http://sysdecom.com"
		email="steven.alvarez.v@gmail.com">
		SYSDECOM
	</author>
    
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="permissions" value="none"/>
    
    <preference name="webviewbounce" value="false" />
    <preference name="phonegap-version" value="2.7.0" /> <!-- all: current version of PhoneGap -->
    <preference name="prerendered-icon" value="true" /> <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="ios-statusbarstyle" value="black-opaque" /> <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    
    <icon src="icono.png" />
    <icon src="icono.png" gap:platform="android" width="47" height="47" />
    <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    
    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
    
    <access origin="*" />
    
</widget>
